#dashboard {
  #empty-workspace {
    text-align: center;
  }
  #boards {
    #new-board-button, .board {
      color: #000;
      text-decoration: none;
      display: block;
      border: 1px solid #d0d1d5;
      border-radius: 4px;
      padding: 10px;
      float: left;
      margin-left: 10px;
      margin-top: 10px;
      width: 250px;
      height: 300px;
      position: relative;
    }
    #new-board-button {
      position: relative;
      border: 1px solid blue;
      color: blue;
    }
    .board {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px;
      .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 10px;
        padding-top: 10px;
        border-top: 1px solid #d0d1d5;
        button, a {
          color: gray;
          &:hover {
            color: blue;
          }
        }
        button {
          padding-right: 5px;
          margin-right: 5px;
          border-right: 1px solid #d0d1d5;
          &:last-child {
            border-right: 0;
          }
        }
      }
    }
  }
}
#create-board {
  width: 400px;
  .form-group {
    margin-bottom: 10px;
  }
}
#delete-board-dialog {
  .board {
    border: 1px solid #d0d1d5;
    border-radius: 4px;
    padding: 5px;
    margin: 10px 0;
    max-height: 300px;
    overflow: auto;
    width: 350px;
  }
  .footer button {
    margin-right: 10px;
  }
}
